.homePageContain {
    text-decoration: none;
}

.isClick {
    .customItems {
        background: #D82C2C;
    }

    .customText {
        color: #fff;
    }

    .customIcon {
        color: #FFF;
    }
}